<% provide(:title,'About')  %>

<h1>Greetings, Dull Creature. I'm Loki, your god. You will kneel before me! Kneel!</h1>
<p>
Welcome to my domain, HAHAHA. You can see my <a href="http://mayur.shutterchance.com">Pictures here</a>. Then you will kneel before me! How dare you talk to me like that, you dull creature. I'm a god!
</p>
